In [ ]:
#Roll no: 22341
import os
os.getcwd()
os.chdir('D:/Pandas')
import sqlite3 as sq

mydb = sq.connect('school.db')

mycur = mydb.cursor()
mycur.execute('''create table students(studentID integer primary key, name text(20) not null,house text, marks real);''')
mydb.close()

In [9]:
mydb = sq.connect('school.db')

mycur = mydb.cursor()

mycur.execute('''insert into students values(2,"Vijay", "Blue",33);''')
mydb.commit()
mydb.close()

In [10]:
mydb = sq.connect('school.db')
mycur = mydb.cursor()
mycur.execute('''select * from students;''')
rec = mycur.fetchall()
mydb.close()
print(rec)

[(2, 'Vijay', 'Blue', 33.0)]

In [12]:
mydb = sq.connect('school.db')
mycur = mydb.cursor()
mycur.execute('''select * from students;''')
rec = mycur.fetchone()
mydb.close()
print(rec)

(2, 'Vijay', 'Blue', 33.0)

In [ ]:
mydb = sq.connect('school.db')
mycur = mydb.cursor()

mysid = int(input("Enter ID: "))
myname = input("Enter name: ")
myhouse = input("Enter House: ")
mymarks = float(input("Enter Marks: "))
mycur.execute('insert into students(StudentID, name, house, marks)VALUES(?,?,?,?);',(mysid, myname, myhouse, mymarks))

mydb.commit()
mydb.close()

In [ ]:
def insertdata(myid,myname,mydiv):
    db = sq.connect('mydb.db')
    cur = db.cursor()
    
    q = '''insert into mytab values(?,?,?)'''
    data = (myid, myname,mydiv)
    cur.execute(q,data)
    
    db.commit()
    db.close()

    insertdata(10,'Ron', 'B')

In [ ]:
def update(myatt, myval, myid):
    db = sq.connect('mydb.db')
    cur = db.cursor()
    
    if(myatt == 'Name'):
        q = '''update mytab set Name = ? where ID = ?'''
    elif(myatt == 'Division'):
        q = '''update mytab set Division = ? where ID = ?'''
    data = (myval, myid)
    cur.execute(q,data)
    print('Updated')
    db.close()
    display()
    
update('Name','Tom',8)
update('Division','B',8)