In [1]:
#Data exploration

import pandas as pd
import numpy as np
import os
os.chdir("D:/Pandas")

data = pd.read_csv("Toyota.csv")
print(data)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]

In [2]:
#Replacing missing values

data = data.fillna(0)
data = data.replace('??',0)
data = data.replace('????',0)
print(data)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       0.0          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   0.0  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0      0   Petrol   86       0.0          0  1300
1433        1433   8500   0.0  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0      0        0   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]

In [3]:
data = {
 'Name': ['Suresh', 'Som', 'Prince', 'Gaurav', 'Ravi', 'Guru', 'Ramesh'],
 'Age': [12, 12, 34, 10, 44, 22, 19],
 'Gender': ['M', 'M', 'M', 'M', 'M', 'F', 'M'],
 'Marks': [90, 86, 'NaN', 56, 72, 'NaN', 49]
}
df = pd.DataFrame(data)
print(df)
c = avg = 0
for element in df['Marks']:
    if str(element).isnumeric():
        c += 1
        avg += element
avg /= c
# Replacing missing values
df = df.replace(to_replace="NaN", value=avg)
# Categorizing gender
df['Gender'] = df['Gender'].map({'M': 0, 'F': 1}).astype(float)
# Filter top scoring students
df = df[df['Marks'] >= 75]
# Remove age row
df = df.drop(['Age'], axis=1)
print()
print(df)

     Name  Age Gender Marks
0  Suresh   12      M    90
1     Som   12      M    86
2  Prince   34      M   NaN
3  Gaurav   10      M    56
4    Ravi   44      M    72
5    Guru   22      F   NaN
6  Ramesh   19      M    49

     Name  Gender  Marks
0  Suresh     0.0   90.0
1     Som     0.0   86.0

In [4]:
#Merging, removing duplicates
#creating DataFrame for Student Details
details = pd.DataFrame(
 {
 'ID': [101, 102, 103, 104, 105, 106,107, 108, 109, 110],
 'NAME': ['Jagroop', 'Praveen', 'Barjot',
 'Pooja', 'Rahul', 'Nikita', 'Saurabh', 'Ayush', 'Dolly', "Mohit"],
 'BRANCH': ['CSE', 'ETC', 'ETC', 'CSE', 'CSE', 'ETC', 'CSE', 'CSE', 'CSE', 'CSE']})
# Import module import pandas as pd
# Creating Dataframe for Fees Status
fees_status = pd.DataFrame(
 {
 'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
 'PENDING': ['5000', '250', 'NIL', '9000', '15000', 'NIL', '4500', '1800', '250', 'NIL']})

# Merging two dataframes
print(pd.merge(details, fees_status, on='ID'))

    ID     NAME BRANCH PENDING
0  101  Jagroop    CSE    5000
1  102  Praveen    ETC     250
2  103   Barjot    ETC     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Nikita    ETC     NIL
6  107  Saurabh    CSE    4500
7  108    Ayush    CSE    1800
8  109    Dolly    CSE     250
9  110    Mohit    CSE     NIL

In [7]:
# Grouping with ETC branch
grouped = details.groupby('BRANCH')
print()
print("Printing group of CSE students")
print(grouped.get_group('CSE'))

Printing group of CSE students
    ID     NAME BRANCH
0  101  Jagroop    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
6  107  Saurabh    CSE
7  108    Ayush    CSE
8  109    Dolly    CSE
9  110    Mohit    CSE

In [6]:
# Removing duplicate entries
non_duplicate = details[~details.duplicated('BRANCH')]
print()
print("Removing duplicate entries in branch")
print(non_duplicate)

Removing duplicate entries in branch
    ID     NAME BRANCH
0  101  Jagroop    CSE
1  102  Praveen    ETC

In [9]:
cricketers = {'Name': ['Virat', 'Rohit', 'Babar', 'Boult', 'Bumrah', 'Mujeeb', 'Nabi', 'Strokes'], 'Age': [31,
33, 25, 31, 26, 19, 35, 29],
 'Grade': [ 'Best', 'Better', 'Good', 'Best', 'Better', 'Good', 'Best', 'Better'],
 'Role': ['Batsman', 'Batsman', 'Batsman', 'Bowler', 'Bowler', 'Bowler', 'All-Rounder', 'AllRounder'],
 'Rating': [871, 855, 829, 722, 719, 701, 301, 285],
 'Country': ['IND', 'IND', 'PAK', 'NZ', 'IND', 'AFG', 'AFG', 'ENG']}
cricketers = pd.DataFrame(cricketers)
print(cricketers)
def binningFunction(col, cut_points, labels=None):
     minval = col.min()
     maxval = col.max()
     break_points = [minval] + cut_points + [maxval]
     print(break_points)
     if not labels:
         labels = range(len(cut_points) + 1)
         colBin = pd.cut(col, bins=break_points, labels=labels, include_lowest=True)
         return colBin
cut_points = [25, 30];
labels = ["Young", "Senior", "SuperSenior"]
cricketers["Exp_category"] = binningFunction(cricketers["Age"], cut_points, labels)
print()
print("Result of binning")
print(cricketers)

      Name  Age   Grade         Role  Rating Country
0    Virat   31    Best      Batsman     871     IND
1    Rohit   33  Better      Batsman     855     IND
2    Babar   25    Good      Batsman     829     PAK
3    Boult   31    Best       Bowler     722      NZ
4   Bumrah   26  Better       Bowler     719     IND
5   Mujeeb   19    Good       Bowler     701     AFG
6     Nabi   35    Best  All-Rounder     301     AFG
7  Strokes   29  Better   AllRounder     285     ENG
[19, 25, 30, 35]

Result of binning
      Name  Age   Grade         Role  Rating Country Exp_category
0    Virat   31    Best      Batsman     871     IND         None
1    Rohit   33  Better      Batsman     855     IND         None
2    Babar   25    Good      Batsman     829     PAK         None
3    Boult   31    Best       Bowler     722      NZ         None
4   Bumrah   26  Better       Bowler     719     IND         None
5   Mujeeb   19    Good       Bowler     701     AFG         None
6     Nabi   35    Best  All-Rounder     301     AFG         None
7  Strokes   29  Better   AllRounder     285     ENG         None