In [ ]:
import os
os.getcwd()
os.chdir('D:/Pandas')
import sqlite3 as sq

mydb = sq.connect('employee.db')
mycur = mydb.cursor()
mycur.execute('''create table employee(Emp_ID integer primary key, Name text(20) not null, DoB text(10), Qualification text, Adhar integer, PAN text);''')

choice = 0
while choice !=5:
    choice = int(input("Enter Choice:\n1.Create new data\n2.Display all data\n3.Update data\n4.Delete data entry\n5.Exit"))
    if(choice == 1):
        Emp_ID=input('Enter the Emp_ID of employee: ')
        Name=input('Enter the Name: ')
        DoB=input('DoB of employee: ')
        Qualification=input('Enter Qualification of the employee : ')
        Adhar=int(input('Enter the Adhar no. of employee: '))
        PAN=input('Enter the Pan  no. of employee: ')
        try:
            mycur.execute('''insert into employee values(?,?,?,?,?,?)''',(Emp_ID, Name, DoB, Qualification, Adhar, PAN))
            mydb.commit()
        except:
            print('Enter unique Emp_ID')
    elif(choice==2):
        mycur.execute('''select * from employee ''')
        if mycur:
            for i in mycur:
                print(i)
        else:
            print('Db is empty')
    elif(choice==3):
        Emp_ID=input('Enter Emp_ID to be updated ')
        mycur.execute('''SELECT * from employee where Emp_ID is "{}"'''.format(Emp_ID))
        if mycur:
            Name=input('Enter the Name: ')
            DoB=input('DoB of employee: ')
            Qualification=input('Enter Qualification of the employee : ')
            Adhar=int(input('Enter the Adhar no. of employee: '))
            PAN=input('Enter the Pan  no. of employee: ')
            mycur.execute('''UPDATE employee
                            SET Name ="{}",DoB='{}',Qualification='{}',Adhar={},PAN='{}'
                            WHERE Emp_ID="{}";'''.format(Name,DoB,Qualification,Adhar,PAN,Emp_ID))
        else:
            print('Emp ID not available')
    elif(choice==4):
        Emp_ID=input('Enter Emp_ID which u want to delete: ')
        mycur.execute('''SELECT * from employee where Emp_ID is "{}"'''.format(Emp_ID))
        if mycur:
            mycur.execute('''DELETE from employee
                            WHERE Emp_ID="{}";'''.format(Emp_ID))
        else:
            print('Emp ID not available')
    elif(choice==5):
        pass
    else:
        print("Enter valid choice")
        
    
mydb.close()

Enter Choice:
1.Create new data
2.Display all data
3.Update data
4.Delete data entry
5.Exit1
Enter the Emp_ID of employee: 1
Enter the Name: vijay
DoB of employee: 17051986
Enter Qualification of the employee : manager
Enter the Adhar no. of employee: 1655745552
Enter the Pan  no. of employee: 684fwe5
Enter Choice:
1.Create new data
2.Display all data
3.Update data
4.Delete data entry
5.Exit2
(1, 'vijay', '17051986', 'manager', 1655745552, '684fwe5')
Enter Choice:
1.Create new data
2.Display all data
3.Update data
4.Delete data entry
5.Exit3
Enter Emp_ID to be updated 1
Enter the Name: jai
DoB of employee: 12031988
Enter Qualification of the employee : general manager
Enter the Adhar no. of employee: 12236654
Enter the Pan  no. of employee: 467rg64
Enter Choice:
1.Create new data
2.Display all data
3.Update data
4.Delete data entry
5.Exit2
(1, 'jai', '12031988', 'general manager', 12236654, '467rg64')
Enter Choice:
1.Create new data
2.Display all data
3.Update data
4.Delete data entry
5.Exit4
Enter Emp_ID which u want to delete: 1
Enter Choice:
1.Create new data
2.Display all data
3.Update data
4.Delete data entry
5.Exit1
Enter the Emp_ID of employee: 2
Enter the Name: paul
DoB of employee: 1032654
Enter Qualification of the employee : CEO
Enter the Adhar no. of employee: 8643